<!--
   File name: Products.ejs
   Stu name: Huyen Anh Phan
   Stu #: 301216123
   Date: 10/16/22
-->
<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  

  
  <h1><%= title %></h1>
<h3>Here are some of my projects:</h3>
<ol>
   <li>
      <img width="700px" src="Assets/images/project1.png">
      <p>Making usage of HTML, CSS, and JavaScript, this website allows you to generate a table as you wish. </p>
   </li>
   <hr />
   <li>
      <img width="700px" src="Assets/images/project2.png">
      <p>Making usage of HTML, CSS, and JavaScript, this is the website to introduce and sale new Iphone 13 </p>
   </li>
   <hr />
   <li>
      <img width="700px" src="Assets/images/project3.png">
      <p>Making usage of HTML, CSS, and JavaScript, this website shows price Iphone13's price and locations to buy it</p>
   </li>
   <hr />

</ol>
<hr/>
<hr/><hr/>

   <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>   

