<!--
   File name: Services.ejs
   Stu name: Huyen Anh Phan
   Stu #: 301216123
   Date: 10/16/22
-->
<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  
  <h1><%= title %></h1>
  <hr/>
<h3>You need our services, kindly go through the list below:</h3>

<ul>
   <li>Website Development</li>
   <li>Database Development</li>
   <li>Mobile Apps Development</li>
   <li>UI/UX Design</li>

</ul>

   <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>   

